absl-py
aio-pika
aiofiles
aiohttp
aioresponses
aiormq
analytics-python
anyio
APScheduler
astunparse
async-generator
async-timeout
attrs
azure-core
azure-storage-blob
backoff
bandit
bidict
black
blis==0.7.7
boto3
botocore
CacheControl
cachetools
catalogue==2.0.7
certifi
cffi
chardet
charset-normalizer
click
click-default-group==1.2.2
cloudpickle
colorclass
coloredlogs
colorhash
coverage
coveralls
cryptography
cycler
cymem==2.0.6
dask
dataclasses
datadog
datadog-api-client
dnspython
docopt==0.6.2
docspec
docspec-python
en-core-web-sm
execnet
fakeredis
fbmessenger
fire==0.4.0
flake8
flake8-docstrings
flatbuffers
freezegun
fsspec
future==0.18.2
gast
gitdb
GitPython
google-api-core
google-auth
google-auth-oauthlib
google-cloud-core
google-cloud-storage
google-crc32c
google-pasta
google-resumable-media
googleapis-common-protos
greenlet
grpcio
h11
h5py
httpcore
httptools
httpx
humanfriendly
idna
importlib-metadata
incremental
iniconfig
ipaddress
isodate
Jinja2
jmespath
joblib
jsonpickle
jsonschema
kafka-python
keras
Keras-Preprocessing
kiwisolver
langcodes==3.3.0
libclang
locket
Markdown
MarkupSafe
matplotlib
mattermostwrapper==2.2
mccabe
memory-profiler==0.58.0
mongomock
monotonic
moto
msgpack
msrest
multidict
murmurhash==1.0.7
mypy
mypy-extensions
networkx
nr.collections==0.0.1
nr.databind.core
nr.databind.json
nr.fs
nr.interface
nr.metaclass
nr.parsing.date
nr.pylang.utils
nr.stream
nr.utils.re
numpy
oauthlib
opt-einsum
packaging
pamqp
partd
pathspec
pathy==0.6.1
pbr
pep440-version-utils
Pillow
platformdirs
pluggy
preshed==3.0.6
prompt-toolkit
protobuf
psutil
psycopg2-binary
py
pyasn1
pyasn1-modules
pycodestyle
pycparser
pydantic==1.8.2
pydoc-markdown
pydocstyle
pydot
pyflakes
PyJWT
pykwalify
pymongo==3.10.1
pyparsing
pyrsistent
pyTelegramBotAPI==4.5.1
pytest
pytest-asyncio
pytest-cov
pytest-forked
pytest-sanic
pytest-timeout
pytest-xdist
python-crfsuite
python-dateutil
python-engineio
python-socketio
pytz
PyYAML
questionary
randomname==0.1.5
rasa==3.1.1
rasa-sdk
redis
regex
requests
requests-oauthlib
requests-toolbelt
responses
rfc3986
rocketchat-API
rsa
ruamel.yaml
ruamel.yaml.clib
s3transfer
sanic
Sanic-Cors
sanic-jwt
sanic-routing
sanic-testing
scikit-learn
scipy
sentinels==1.0.0
sentry-sdk
six
sklearn-crfsuite
slackclient
smart-open==5.2.1
smmap
sniffio
snowballstemmer
sortedcontainers
spacy==3.3.1
spacy-legacy==3.0.9
spacy-loggers==1.0.2
SQLAlchemy
srsly==2.4.3
stevedore
tabulate
tarsafe
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-addons
tensorflow-estimator
tensorflow-hub
tensorflow-io-gcs-filesystem
tensorflow-text
termcolor==1.1.0
terminaltables
thinc==8.0.17
threadpoolctl
toml
tomli
toolz
towncrier
tqdm
twilio==6.50.1
typeguard
typer==0.4.1
types-pkg-resources
types-python-dateutil
types-pytz
types-redis
types-requests
types-setuptools
types-urllib3
typing-extensions
typing-utils
tzlocal
ujson
urllib3
uvloop
wasabi==0.9.1
watchdog
wcwidth
webexteamssdk
websockets
Werkzeug
wrapt
xmltodict
yarl
zipp